@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

/* CSS HEX */
:root {
  --eerie-black: #191716ff;
  --naples-yellow: #f9dc5cff;
  --maximum-blue: #40bcd8ff;
  --fire-engine-red: #c1292eff;
  --maximum-red: #d62828ff;

  /* CSS HSL */
  --eerie-black: hsla(20, 6%, 9%, 1);
  --naples-yellow: hsla(49, 93%, 67%, 1);
  --maximum-blue: hsla(191, 66%, 55%, 1);
  --fire-engine-red: hsla(358, 65%, 46%, 1);
  --maximum-red: hsla(0, 69%, 50%, 1);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsla(49, 93%, 67%, 1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 80vh;
  font-family: "Poppins", sans-serif;
}

/* container loading animation */
.container {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 5px;
  text-align: center;
}
.opacity {
  opacity: 20%;
}
img {
  width: 60%;
}

.play-btn {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  color: #fff;
  background-color: hsla(0, 69%, 50%, 1);
  box-shadow: 0px 8px rgb(165, 34, 39);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: 15rem;
  height: 8rem;
  border-radius: 2rem;
  border: none;
}

.play-btn:active {
  background-color: hsla(0, 69%, 50%, 1);
  box-shadow: 0px 2px rgb(165, 34, 39);
  transform: translateY(4px);
}
.game-container {
  width: 750px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  background-color: #d62828ff;
  padding: 20px;
  border-radius: 20px;
}
.box {
  background-color: rgb(121, 24, 27);
  border: 10px solid rgb(165, 34, 39);
  border-radius: 20px;
}
.question {
  background-color: rgb(165, 34, 39);
  grid-column: 1 / span 6;
  border-radius: 20px;
  box-shadow: inset 0 5px 0 rgb(121, 24, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(247, 229, 151);
  font-weight: 700;
  font-size: 1.5rem;
}
.center-box {
  grid-column: 2 / span 4;
  grid-row: 2 / span 3;
  background-color: hsla(49, 93%, 67%, 1);
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.center-box::before {
  content: "";
  background-image: url("imgs/press-your-tester_logo.png");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
