@import url("https://use.typekit.net/jlj3seh.css");


html {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: 'dico-code-two', monospace;
  font-weight: 700;
  font-style: normal; 
  background-color: hsla(49, 93%, 67%, 1);
  color: hsla(20, 6%, 9%, 1);
  height: 100%;
  background: url("imgs/game-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

button:active,
button:focus,
button:hover {
  outline: none;
}

/* container loading animation */
.container {
  max-width: 50em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.container > div {
  flex: 1;
}

.audio {
  max-height: 5rem;
  font-size: 1.5rem;
}
.audio button {
  color: #fba031;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.audio button:hover {
  color: hsla(0, 69%, 50%, 1);
}


@keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}

@-moz-keyframes fadein {
  /* Firefox */
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {opacity: 0;}
  to {opacity: 1;}
}

@-o-keyframes fadein {
  /* Opera */
  from {opacity: 0;}
  to {opacity: 1;}
}

.logo {
  padding: 60px 0;
}
.opacity {
  opacity: 20%;
}
img {
  width: 60%;
}


.play-btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #fff;
  background-color: hsla(0, 69%, 50%, 1);
  box-shadow: 0rem 0.5rem hsl(0, 66%, 39%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  /* width: 15rem;
  height: 8rem; */
  padding: 2rem 3rem;
  border-radius: 2rem;
  border: none;
  /* margin: 0.5rem; */
  font-weight: 700;
}

.play-btn:active {
  background-color: hsla(0, 69%, 50%, 1);
  color: #fff;
  box-shadow: 0rem 0.125rem hsl(0, 66%, 39%);
  transform: translateY(0.3rem);
}
.game-container {
  min-width: 45rem;
  min-height: 40rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 6.5rem);
  gap: 1rem;
  background-color: hsl(0, 69%, 50%);
  padding: 1.5rem;
  border-radius: 2.5rem;
  border: 0.8rem solid hsl(0, 66%, 39%);
  /* border-width: 20px 20px 20px 20px;
  -moz-border-image: url(imgs/border.svg) 100 100 100 100 stretch stretch;
  -webkit-border-image: url(imgs/border.svg) 100 100 100 100 stretch stretch;
  -o-border-image: url(imgs/border.svg) 100 100 100 100 stretch stretch;
  border-image: url(imgs/border.svg) 100 100 100 100 stretch stretch; */

}
.box {
  background-color: hsl(0, 67%, 28%);
  border: 0.5rem solid hsl(0, 66%, 39%);
  border-radius: 1.3rem;
  font-size: 1.5rem;
  color: hsla(49, 93%, 67%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'bitcount-prop-double-circle', sans-serif;
  font-weight: 300;
  font-style: normal;
}


.question {
  background-color: hsl(0, 66%, 39%);
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  border-radius: 1.5rem;
  box-shadow: inset 0 0.3rem 0 hsl(0, 67%, 28%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(247, 229, 151);
  font-size: 1.5rem;
  padding: 0.3rem;
}
.center-box {
  grid-column: 2 / span 4;
  grid-row: 2 / span 3;
  background-color: hsla(49, 93%, 67%, 1);
  border: 0.5rem solid hsl(0, 66%, 39%);
  border-radius: 1.3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-box::after {
  content: "";
  background-image: url("imgs/press-your-tester_logo.png");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: 1;
}

.btn-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.answer-btn {
  margin: 0.5rem;
  font-size: 1.2rem;
  padding: 0.8rem;
  border: solid 0.125rem #fff;
  background-color: rgba(244, 235, 235, 0.8);
  border-radius: 0.8rem;
  cursor: pointer;
  font-weight: 700;
  z-index: 5;
}
.answer-btn:hover {
  border-color: hsla(20, 6%, 9%, 1);
}
.correct {
  background-color: hsla(109, 86%, 36%, 0.8);
  border-color: hsl(109, 86%, 29%);
  color: hsl(109, 67%, 87%);
}
.wrong {
  background-color: hsla(358, 65%, 46%, 0.8);
  border-color: hsl(0, 67%, 28%);
  color: hsl(0, 81%, 87%);
}


.message-box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  background-color: hsla(20, 6%, 9%, 1);
  color: #fff;
  padding: 1.3rem;
  border-radius: 0.9rem;
  font-family: 'bitcount-prop-double-circle', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 0.4rem;
  z-index: 5;
}
.message-box img {
  min-height: 90%;
  /* max-width: 100%; */
  object-fit: cover;
}

.home-btn {
  background-color: white;
  box-shadow: 0px 8px hsl(0, 0%, 81%);
  color: hsla(0, 65%, 46%, 1)
}

.quit-btn {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0;
  margin-bottom: 1.4rem;
  z-index: 10;
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px hsl(50, 89%, 72%), 0 0 30px hsl(33, 96%, 59%), 0 0 40px hsl(33, 96%, 59%), 0 0 50px hsl(33, 96%, 59%), 0 0 55px hsl(33, 96%, 59%);
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px hsl(50, 89%, 72%), 0 0 30px hsl(50, 89%, 72%), 0 0 40px hsl(50, 89%, 72%), 0 0 50px hsl(50, 89%, 72%), 0 0 60px hsl(50, 89%, 72%), 0 0 70px hsl(50, 89%, 72%);
  }
}

/* bottom controls */

.controls {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr 2fr;
  margin-top: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  background-color: hsl(49, 100%, 73%);
  padding: 1rem;
  border-radius: 1rem;
  border: solid hsl(0, 65%, 46%) 0.5rem;
}

.control-display {
  display: block;
  background-color: hsla(20, 6%, 9%, 1);
  color: #fff;
  padding: 1rem;
  border-radius: 1.5rem;
  margin: 0.5rem 1rem;
  font-family: bitcount-prop-double-circle, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
  border: 0.8rem solid hsl(49, 80%, 58%);
  animation: glow 2s ease-in-out infinite alternate;
}

.chances-count {
  grid-column: span 1;
}

.bug-count {
  width: 100%;
  /* height: 7rem; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  color: hsl(38, 73%, 54%);
}

.money-box {
  grid-column: 4 / span 2;
}


.lit-border {
  border-color: hsla(49, 93%, 67%, 1);
  box-shadow: 0 0 0.8rem 0.2rem hsl(49, 100%, 81%);
  text-shadow: hsl(49, 100%, 81%) 0 0 0.2rem;
  /* animation: glow 1s ease-in-out infinite alternate; */
  background-color: hsla(20, 6%, 9%, 1);
}

.hide {
  display: none;
}

@media only screen and (max-width: 755px) {
  html {
    font-size: 11px
  }
  .container{
    width: 100%;
  }
  .game-container {
    margin-top: 3rem;
  min-width: 40rem;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-style: solid;
  }
  .game-container > div {
    flex: 1;
  }
  .center-box {
  grid-column: 2 / span 3;
  grid-row: 2 / span 4;
}
/* .box {
  height: 6.5rem;
} */

.center-box::after {
  background-size: 50%;
}

.question div{
  flex: 1;
}
.controls {
  min-width: 100%;
  /* height: 18rem; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8rem 10rem;
  margin-bottom: 3rem;
}
.chances-count {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.bug-count {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-content: space-evenly;
}
.money-box {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}
.middle-buttons {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}

.question {
  grid-column: 1 / span 5;
}
.container {
  width: 100vw;
  height: 80vh;
}

.logo img {
  width: 95%;
}
.show-for-700 {display: inherit !important;}

}

@media only screen and (max-width: 560px) {
  html {
    font-size: 10px
  }
}